.bodyIndex {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-rows: 20% 68% 12%;
	/*background-image: url(""); если картинка на фоне*/
	background-color: #54b469;
}
* {
	padding: 0;
	margin: 0;
}
.bodyCommand {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-rows: 88% 12%;
	background-color: #54b469;
}
.commandPanel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	padding: 30px;
	text-align: center;
	font-size: 18px;
}
.objectPanel {
	display: flex;
	justify-content: center;
	align-items: center;
}
.objectPanel img {
	width: 50%;
}
.menuPanel {
	display: flex;
}
.menuButton img {
	width: auto;
	height: 60%;
}
.menuPanel {
	display: flex;
	justify-content: center;
}
.menuButton img {
	width: auto;
	height: 60%;
	width: 45px;
}
.menuButton {
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.menuText {
	text-decoration: none;
	color: #4b0c0c;
	font-family: Myfont;
}
@font-face {
	font-family: Myfont;
	src: url(ofont.ru_Unsightly.ttf);
}
.topScorePanel {
	height: 60%;
}
.energy {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.energy img {
	width: 50px;
	position: relative;
	left: 24px;
	z-index: 5;
}
#energyBox {
	width: 100px;
	height: 20px;
	border-radius: 4px;
	background-color: gray;
	color: azure;
	font-weight: 600;
	font-style: italic;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
#energyFill {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	border-radius: 4px;
	background: linear-gradient(90deg, #0d0080 0%, #5346cc 100%);
}
#energyText {
	z-index: 5;
}
.centerScorePanel {
	height: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.centerScorePanel img {
	width: 70px;
}
#score {
	height: 25%;
}
.bottomScorePanel {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	margin-top: 20px;
	color: black;
	font-weight: 600;
}
.plus {
	position: absolute;
	color: white;
	font-size: 18px;
	font-weight: 600;
	animation: moveUp 2s forwards;
}
@keyframes moveUp {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(-100px);
		opacity: 0;
	}
}
.upgradeCards {
	width: calc(100vw - 40px);
	padding: 20px;
}
.upgradeCards p {
	font-size: 17px;
	font-weight: 700;
	font-family: serif;
	margin-bottom: 10px;
}
.card {
	width: 28%;
	height: 120px;
	background-color: #471786;
	border-radius: 10px;
	font-weight: 400;
	font-family: MyFont;
	color: azure;
	font-size: 13px;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.containerUpgraideCards {
	display: flex;
	justify-content: space-between;
}
.imageCard {
	width: 90%;
	height: 90px;
	border-radius: 10px;
}
.imageCard p {
	background-color: #5346cc;
}
.card:nth-child(1) .imageCard {
	background-image: url(wewerka.png);
	background-size: cover;
}
.card:nth-child(2) .imageCard {
	background-image: url(lvlContClick.png);
	background-size: cover;
}
.card:nth-child(3) .imageCard {
	background-image: url(энергия.png);
	background-size: cover;
}
.dialog {
	position: fixed;
	inset: auto 0 0 0;
	border: 2px solid rgba(14, 155, 108, 0.843);
	width: calc(100% - 4px);
	height: 70vh;
	border-radius: 10px;
	background-color: rgb(153, 205, 188);
	padding: 20px;
}
.imgDialog {
	width: 60%;
	height: 30%;
}
.textContainer img {
	width: 20px;
	margin-left: 20px;
}
form {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.closeButtom {
	width: 30px;
	height: 30px;
	padding: 5px;
	border-radius: 50px;
	background-color: rgba(14, 155, 108, 0.843);
	border: 0px;
	font-size: 16px;
	align-self: flex-end;
}
form h2 {
	font-family: Myfont;
}
.textContainer {
	display: flex;
	background-color: rgba(14, 155, 108, 0.843);
	border-radius: 5px;
	width: 45%;
	justify-content: center;
	align-items: center;
	color: azure;
}
.pay {
	width: 90%;
	height: 8vh;
	background-color: rgb(40, 197, 176);
	font-size: 20px;
	font-family: MyFont;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0px;
	border-radius: 20px;
}
::backdrop {
	background-color: grey;
}
.passiveContainer {
	width: calc(100vw - 40px);
	white-space: nowrap;
	overflow-x: auto;
}
.cardPassive {
	display: inline-block;
	margin-right: 6px;
}
.passiveContainer::-webkit-scrollbar {
	display: none;
}
